<div class="login-form">
  <form #registerform=ngForm (ngSubmit)="onsubmit()" >
      <h2 class="text-center">Register</h2>   
      
      <div *ngFor="let error of errors" class="alert alert-danger" [hidden]='!errors'>
            {{error}}
      </div>

      <div class="form-group">
            <input type="text" name ='name' class="form-control"  placeholder="Email" required="required" [(ngModel)]='form.email' 
            (ngModelChange)="validate()" >
      </div>


      <div class="form-group">
        <input type="text" name ='mobile_number' class="form-control" placeholder="phone number(+254...)" required="required" [(ngModel)]='form.phone_number'>
      </div>


      <div class="form-group">
        <select name="username" class="form-control" [(ngModel)]="form.username" required="required" (ngModelChange)="validate()">
            <option value="" selected>select username</option>
            <option value="{{form.email}}">{{form.email}}</option>
            <option value="{{form.phone_number}}">{{form.phone_number}}</option>
        </select>
      </div>

      <div class="form-group">
          <input type="text" name ='fname' class="form-control" placeholder="First name" required="required" [(ngModel)]='form.first_name'>
      </div>

      <div class="form-group">
        <input type="text" name ='lname' class="form-control" placeholder="Last name" required="required" [(ngModel)]='form.last_name'>
    </div>

     

      <div class="form-group">
        <select name="location" class="form-control" [(ngModel)]="form.location" required="required">
            <option value="" selected>select residence</option>
            <option *ngFor="let location of locations" value="{{location.id}}">
                    {{location.name}}
            </option>
        </select>
      </div>


      <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Password"  [hidden]="!valid"  [(ngModel)]='form.password'>
      </div>

      <div class="form-group" >
          <button type="submit" [disabled]="!registerform.valid" class="btn btn-primary btn-block">Register</button>
      </div>
             
  </form>
  <p class="text-center"><a [routerLink]="['']">Back to Login</a></p>
</div>
