<div class="login-form">
  <form #resetform=ngForm (ngSubmit)="onsubmit()">

    <h2 class="text-center">Password Reset</h2>

    <div class="alert alert-danger" [hidden]='!error'>
      {{error}}
    </div>

    <div class="alert alert-sucess" [hidden]='!notification'>
      {{notification}}
    </div>

    <div class="form-group">
      <input type="text" name='oldpass' class="form-control" placeholder="old password" required="required" [(ngModel)]='form.oldpass'>
    </div>
    <div class="form-group">
      <input type="password" name="newpass" class="form-control" placeholder="new Password" required="required" [(ngModel)]='form.newpass'>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!resetform.valid" class="btn btn-primary btn-block">Reset</button>
    </div>

  </form>
  <p class="text-center"><a [routerLink]="['/home']">Back to home</a></p>
</div>
